{{template "base" .}}

{{define "content"}}

    <div class = "container">

        <div class="row">
            <div class="col">
                <h1> this is home page </h1>
                <p> hi Naod the king you are great man. </p>
                <marquee><h1>you can make it possible by the help of God and Saint Marry. Never GIVE UP! yes naod. {{index .IntMap "year"}}</h1></marquee>
            </div>
            </div>
        </div>


    </div>

{{end}}